// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------


body {
  background-color: $mid-grey;

  @include media-query('lg'){
    background-color: $light-grey;
  }
}
